Flask==2.2.0
Werkzeug==2.2.2
SQLAlchemy
Flask-SQLAlchemy
Flask-WTF
WTForms
WTForms-SQLAlchemy
PyYAML
db-sqlite3
python-math
click
uuid
psycopg2
certifi
flask_saml
flask_principal
pyOpenSSL
cryptography==37.0.4
lxml
