<div class="pf-v5-c-page__sidebar">
  <div class="pf-v5-c-page__sidebar-body">
    <nav class="pf-v5-c-nav" aria-label="Global">
      <ul class="pf-v5-c-nav__list" role="list">
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/categories" class="pf-v5-c-nav__link">Categories</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/content_type" class="pf-v5-c-nav__link">Content Type</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/industry" class="pf-v5-c-nav__link">Industry</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/job_type" class="pf-v5-c-nav__link">Job Type</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/journey_stage" class="pf-v5-c-nav__link">Journey Stage</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/mod_type" class="pf-v5-c-nav__link">Module Type</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/partner_attribute" class="pf-v5-c-nav__link">Partner Attribute</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/persona" class="pf-v5-c-nav__link">Persona</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/platform" class="pf-v5-c-nav__link">Platform</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/product_attribute" class="pf-v5-c-nav__link">Product Attribute</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/product_alias_attribute" class="pf-v5-c-nav__link">Product Alias Attribute</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/proficiency" class="pf-v5-c-nav__link">Proficiency</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/solution" class="pf-v5-c-nav__link">Solution</a>
        </li>
        <li class="pf-v5-c-nav__item">
          <a href="/taxonomy/topic" class="pf-v5-c-nav__link">Topic</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
